[type="password"] {
  background-color: red;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
input[type="text"] {
  background-color: black;
}

p {
  background-color: rebeccapurple;
}
input {
  width: 75px;
}
.p1 {
  font-size: larger;
}
#l1 {
  text-decoration: line-through;
}
